.grid__card-like {
  /* visibility: hidden; */
  display: none;
}

.grid__card-like:hover {
  cursor: pointer;
  opacity: 0.6;
}

.grid__card-like:checked + .grid__card-label svg {
  fill: #000000;
  stroke: #000000;
}
