.page {
  display: grid;
  grid-template-areas:
    "header"
    "container"
    "footer";
  max-width: 880px;
  min-width: 320px;
  margin: 45px auto 0 auto;
  font-family: "Inter";
}

body {
  background-color: #000000;
}
